@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.wave {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: wave;
  animation-timing-function: ease-in-out;
}

/*
  https://wave.novoselski.net/
  width: 500
  height: 150
  offset: 145
  amplitude: 3
  frequency: 1
  points: 75
  invert: true
*/
@keyframes wave {
  /* phase: 0 */
  0% {
    clip-path: polygon(100% 0%, 0% 0%, 0.00% 98.67%, 1.33% 98.66%, 2.67% 98.64%, 4.00% 98.60%, 5.33% 98.56%, 6.67% 98.49%, 8.00% 98.42%, 9.33% 98.33%, 10.67% 98.23%, 12.00% 98.12%, 13.33% 98.00%, 14.67% 97.88%, 16.00% 97.74%, 17.33% 97.59%, 18.67% 97.44%, 20.00% 97.28%, 21.33% 97.12%, 22.67% 96.96%, 24.00% 96.79%, 25.33% 96.62%, 26.67% 96.46%, 28.00% 96.29%, 29.33% 96.13%, 30.67% 95.97%, 32.00% 95.82%, 33.33% 95.67%, 34.67% 95.53%, 36.00% 95.39%, 37.33% 95.27%, 38.67% 95.15%, 40.00% 95.05%, 41.33% 94.96%, 42.67% 94.88%, 44.00% 94.81%, 45.33% 94.75%, 46.67% 94.71%, 48.00% 94.68%, 49.33% 94.67%, 50.67% 94.67%, 52.00% 94.68%, 53.33% 94.71%, 54.67% 94.75%, 56.00% 94.81%, 57.33% 94.88%, 58.67% 94.96%, 60.00% 95.05%, 61.33% 95.15%, 62.67% 95.27%, 64.00% 95.39%, 65.33% 95.53%, 66.67% 95.67%, 68.00% 95.82%, 69.33% 95.97%, 70.67% 96.13%, 72.00% 96.29%, 73.33% 96.46%, 74.67% 96.62%, 76.00% 96.79%, 77.33% 96.96%, 78.67% 97.12%, 80.00% 97.28%, 81.33% 97.44%, 82.67% 97.59%, 84.00% 97.74%, 85.33% 97.88%, 86.67% 98.00%, 88.00% 98.12%, 89.33% 98.23%, 90.67% 98.33%, 92.00% 98.42%, 93.33% 98.49%, 94.67% 98.56%, 96.00% 98.60%, 97.33% 98.64%, 98.67% 98.66%, 100.00% 98.67%);
  }

  /* phase: 180 */
  100% {
    clip-path: polygon(100% 0%, 0% 0%, 0.00% 94.67%, 1.33% 94.67%, 2.67% 94.69%, 4.00% 94.73%, 5.33% 94.78%, 6.67% 94.84%, 8.00% 94.91%, 9.33% 95.00%, 10.67% 95.10%, 12.00% 95.21%, 13.33% 95.33%, 14.67% 95.46%, 16.00% 95.60%, 17.33% 95.74%, 18.67% 95.89%, 20.00% 96.05%, 21.33% 96.21%, 22.67% 96.37%, 24.00% 96.54%, 25.33% 96.71%, 26.67% 96.88%, 28.00% 97.04%, 29.33% 97.20%, 30.67% 97.36%, 32.00% 97.52%, 33.33% 97.67%, 34.67% 97.81%, 36.00% 97.94%, 37.33% 98.07%, 38.67% 98.18%, 40.00% 98.28%, 41.33% 98.38%, 42.67% 98.46%, 44.00% 98.53%, 45.33% 98.58%, 46.67% 98.62%, 48.00% 98.65%, 49.33% 98.66%, 50.67% 98.66%, 52.00% 98.65%, 53.33% 98.62%, 54.67% 98.58%, 56.00% 98.53%, 57.33% 98.46%, 58.67% 98.38%, 60.00% 98.28%, 61.33% 98.18%, 62.67% 98.07%, 64.00% 97.94%, 65.33% 97.81%, 66.67% 97.67%, 68.00% 97.52%, 69.33% 97.36%, 70.67% 97.20%, 72.00% 97.04%, 73.33% 96.88%, 74.67% 96.71%, 76.00% 96.54%, 77.33% 96.37%, 78.67% 96.21%, 80.00% 96.05%, 81.33% 95.89%, 82.67% 95.74%, 84.00% 95.60%, 85.33% 95.46%, 86.67% 95.33%, 88.00% 95.21%, 89.33% 95.10%, 90.67% 95.00%, 92.00% 94.91%, 93.33% 94.84%, 94.67% 94.78%, 96.00% 94.73%, 97.33% 94.69%, 98.67% 94.67%, 100.00% 94.67%);
  }
}