@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

main {
  background: linear-gradient(to top,
      theme(colors.teal.500),
      theme(colors.teal.500) 20%,
      theme(colors.teal.400) 20%,
      theme(colors.teal.400) 40%,
      theme(colors.teal.300) 40%,
      theme(colors.teal.300) 60%,
      theme(colors.teal.200) 60%,
      theme(colors.teal.200) 80%,
      theme(colors.teal.100) 80%,
      theme(colors.teal.100))
}

.wave {
  animation-direction: alternate;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: wave;
  animation-play-state: var(--animation-play-state);
  animation-timing-function: ease-in-out;
}

/*
  https://wave.novoselski.net/
  width: 500
  height: 150
  offset: 145
  amplitude: 1
  frequency: 2
  points: 75
  invert: true
*/
@keyframes wave {

  /* phase: 0 */
  0% {
    clip-path: polygon(100% 0%, 0% 0%, 0.00% 97.33%, 1.33% 97.32%, 2.67% 97.30%, 4.00% 97.25%, 5.33% 97.19%, 6.67% 97.11%, 8.00% 97.02%, 9.33% 96.93%, 10.67% 96.82%, 12.00% 96.71%, 13.33% 96.60%, 14.67% 96.49%, 16.00% 96.38%, 17.33% 96.29%, 18.67% 96.20%, 20.00% 96.13%, 21.33% 96.07%, 22.67% 96.03%, 24.00% 96.01%, 25.33% 96.00%, 26.67% 96.01%, 28.00% 96.05%, 29.33% 96.10%, 30.67% 96.16%, 32.00% 96.24%, 33.33% 96.33%, 34.67% 96.43%, 36.00% 96.54%, 37.33% 96.65%, 38.67% 96.76%, 40.00% 96.87%, 41.33% 96.98%, 42.67% 97.07%, 44.00% 97.15%, 45.33% 97.22%, 46.67% 97.28%, 48.00% 97.31%, 49.33% 97.33%, 50.67% 97.33%, 52.00% 97.31%, 53.33% 97.28%, 54.67% 97.22%, 56.00% 97.15%, 57.33% 97.07%, 58.67% 96.98%, 60.00% 96.87%, 61.33% 96.76%, 62.67% 96.65%, 64.00% 96.54%, 65.33% 96.43%, 66.67% 96.33%, 68.00% 96.24%, 69.33% 96.16%, 70.67% 96.10%, 72.00% 96.05%, 73.33% 96.01%, 74.67% 96.00%, 76.00% 96.01%, 77.33% 96.03%, 78.67% 96.07%, 80.00% 96.13%, 81.33% 96.20%, 82.67% 96.29%, 84.00% 96.38%, 85.33% 96.49%, 86.67% 96.60%, 88.00% 96.71%, 89.33% 96.82%, 90.67% 96.93%, 92.00% 97.02%, 93.33% 97.11%, 94.67% 97.19%, 96.00% 97.25%, 97.33% 97.30%, 98.67% 97.32%, 100.00% 97.33%);
  }

  /* phase: 180 */
  100% {
    clip-path: polygon(100% 0%, 0% 0%, 0.00% 96.00%, 1.33% 96.01%, 2.67% 96.04%, 4.00% 96.08%, 5.33% 96.14%, 6.67% 96.22%, 8.00% 96.31%, 9.33% 96.41%, 10.67% 96.51%, 12.00% 96.62%, 13.33% 96.74%, 14.67% 96.85%, 16.00% 96.95%, 17.33% 97.05%, 18.67% 97.13%, 20.00% 97.21%, 21.33% 97.26%, 22.67% 97.30%, 24.00% 97.33%, 25.33% 97.33%, 26.67% 97.32%, 28.00% 97.29%, 29.33% 97.24%, 30.67% 97.17%, 32.00% 97.09%, 33.33% 97.00%, 34.67% 96.90%, 36.00% 96.79%, 37.33% 96.68%, 38.67% 96.57%, 40.00% 96.46%, 41.33% 96.36%, 42.67% 96.26%, 44.00% 96.18%, 45.33% 96.11%, 46.67% 96.06%, 48.00% 96.02%, 49.33% 96.00%, 50.67% 96.00%, 52.00% 96.02%, 53.33% 96.06%, 54.67% 96.11%, 56.00% 96.18%, 57.33% 96.26%, 58.67% 96.36%, 60.00% 96.46%, 61.33% 96.57%, 62.67% 96.68%, 64.00% 96.79%, 65.33% 96.90%, 66.67% 97.00%, 68.00% 97.09%, 69.33% 97.17%, 70.67% 97.24%, 72.00% 97.29%, 73.33% 97.32%, 74.67% 97.33%, 76.00% 97.33%, 77.33% 97.30%, 78.67% 97.26%, 80.00% 97.21%, 81.33% 97.13%, 82.67% 97.05%, 84.00% 96.95%, 85.33% 96.85%, 86.67% 96.74%, 88.00% 96.62%, 89.33% 96.51%, 90.67% 96.41%, 92.00% 96.31%, 93.33% 96.22%, 94.67% 96.14%, 96.00% 96.08%, 97.33% 96.04%, 98.67% 96.01%, 100.00% 96.00%);
  }
}